<div class='col-3 float-left' id='groupPanel'>
    <h5 id='profile_link'><a routerLink='/user'>Profile</a></h5>
    <h5 id='new_group_link'><a routerLink='/createGroup' *ngIf="user.role == 'Super Admin' || user.role == 'Group Admin'">New Group </a></h5>
    <div *ngFor='let group of groups'>
        <div class='row'>
            <div class='col-9' id='group_name'>
                <a routerLink='/group/{{group.id}}'>{{group.name}}</a>
            </div>
            <div class='col-3' id='group_btn' *ngIf="group.name != null && group.id == currentGroup.id">
                <button (click)="createChannel(group.id)">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div *ngIf='user.role == "Super Admin" || user.role == "Group Admin"; else elseBlock'>
            <div *ngFor='let channel of channels' class="channel_name">
                <div *ngIf='group.id == channel.group_id'>
                    <h6><a routerLink='/channel/{{channel.id}}'>{{channel.name}}</a></h6>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div *ngFor='let userChannel of userChannels' >
                <div *ngFor='let channel of channels' class="channel_name">
                    <div *ngIf='group.id == channel.group_id && channel.id == userChannel.channel_id'>
                        <h6><a routerLink='/channel/{{channel.id}}'>{{channel.name}}</a></h6>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    <img src="../assets/images/kook2.png" class='kook-img'>
</div>
  
  <div class='col-9 float-right'>
    <div class='content'>
        <div class='row'>
            <h3 class='title' class='col-10'>{{currentGroup.name}}</h3>
            <button (click)='deleteGroup()' class='col-2 float right' id='title_trash' *ngIf="user.role == 'Group Admin' || user.role == 'Super Admin'">
                <svg viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg>
            </button>
        </div>
        <div class="row" *ngIf="currentGroupAssist || (user.role == 'Group Admin' || user.role == 'Super Admin')">
            <h6 class="add_member" routerLink="/addUser/{{currentGroup.id}}">Add member +</h6>
        </div>

        <ul>
            <li id='list_title'>
                Group Admin
            </li>
            <div *ngFor="let user of users">
                <li *ngIf="user.role == 'Group Admin'">
                    {{user.username}}
                </li>
            </div>
        </ul>
        <ul>
            <li id='list_title'>
                    Group Assistant Admin
            </li>
            <div *ngFor="let groupAssist of groupAssists">
                <div *ngIf='groupAssist.group_id == groupobj.id'>
                    <li class='table_user'>
                        {{groupAssist.user_id}}
                    </li>
                </div>
            </div>
           
        </ul>

        <div *ngIf="currentGroupAssist || (user.role == 'Group Admin' || user.role == 'Super Admin')">
            <ul *ngFor="let channel of groupChannelDict[currentGroup.id]" >
                <!-- CHANNEL NAME -->
                    <li id='list_title'>
                        <a routerLink="/channel/{{channel.id}}">{{channel.name}}</a>
                        <div class='float-right'>
                            <button (click)='removeChannel(channel.id, channel.name)' class='channel_trash' *ngIf="user.role == 'Group Admin' || user.role == 'Super Admin'">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                </svg>
                            </button>
                        </div>
                    </li>
    
                <!-- CHANNEL USERS -->
                <div *ngIf='user.role == "Super Admin" || user.role == "Group Admin"'>
                    <div *ngFor="let userChannel of userChannels">
                        <li *ngIf="userChannel.channel_id == channel.id " class='table_user'>
                            {{userChannel.user_id}}
                            
                            <button (click)='removeUserChannel(userChannel.channel_id, userChannel.user_id)' class='change_role'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                  </svg>
                            </button>
    
                            <button (click)='changeRoleGroup(userChannel.user_id)' class='change_role' *ngIf="user.role == 'Group Admin' || user.role == 'Super Admin'">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrows-expand" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z"/>
                                </svg>
                            </button>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
  </div>
  