<div class='col-3 float-left' id='groupPanel'>
    <h5>{{currentGroup.name}}</h5>
    <h5>{{currentChannel.name}}</h5>
    <button id='leave_group' (click)="leaveChannel()">Leave Group</button>
    <img src="../assets/images/kook2.png" class='kook-img'>
</div>
  
  
  <div class='col-9 float-right'>
    <div class='content'>
        <div class='role_banner'><p style='color:white'>{{user.role}}</p></div>
        <div>
            <ul>
                <li>{{roomnotice}}</li>
                <div *ngFor='let message of messages'>
                  <li>{{message}}</li>
                </div>
              </ul>
        </div>
        <form>
            <div class="form-group" id='channel_mess'>
                <input type="text" name='message' [(ngModel)]="messagecontent" class="form-control" id="message"  placeholder="Message">
                <button type="submit" class="message_button" (click)="chat(messagecontent)">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                    </svg>
                </button>
            </div>
        </form>
    </div>
  </div>
  