ul{
    list-style-type: none;
    width: 100%;
}
li{
    padding: 5px 0px;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}
h3 {
    padding-top: 10px;
    padding-left: 5px;
    font-family: 'Share Tech Mono', monospace;
}

.list-title{
    border-bottom: none;
    font-size: 1.1em;
    font-family: 'Inconsolata', monospace;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0;
}