<div class='col-3 float-left' id='groupPanel'>
    <h5 id='profile_link'><a routerLink='/user'>Profile</a></h5>
    <h5 id='new_group_link'><a routerLink='/createGroup'>New Group </a></h5>
    <div *ngFor='let group of group_array'>
        <div class='row'>
            <div class='col-9' id='group_name'>
                <a routerLink='/group/{{group.id}}'>{{group.name}}</a>
            </div>
            <div class='col-3' id='group_btn' *ngIf="group.name != null">
                <button (click)="createChannel(group.id)">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </div>
        </div>
        
        <div *ngFor='let channel of channels' class="channel_name">
            <div *ngIf='group.id == channel.group_id'>
                <h6><a routerLink='/channel/{{channel.id}}'>{{channel.name}}</a></h6>
            </div>
        </div>
    </div>
    <img src="../assets/images/kook2.png" class='kook-img'>
</div>


<div class='col-9 float-right'>
    <div class='content'>
        <div class='row' id='profile-detail'>
            <div class='col-2 float-left'>
                <img src="../assets/images/dots2.png" class='profile-img'>
            </div>
            <div class='col-8' id='profile-desc'>
                <p class='name'><strong>{{username}}</strong></p>
                <p>{{role}}</p>
            </div>
            <div class='col-2 float right'>
                <button (click)='logout()' class='logout-button' routerLink='/'>
                    <svg viewBox="0 0 16 16" class="bi bi-box-arrow-in-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class='row' id='profile-ability' *ngIf='role == "Super Admin" || role == "Group Admin"'>
            <ul>
                <li><a routerLink='/allUser' class="manage_link">Manage Users</a></li>
            </ul>
        </div>
    </div>
</div>