<div class='col-3 float-left' id='groupPanel'>
    <h5 id='profile_link'><a routerLink='/user'>Profile</a></h5>
    <h5 id='new_group_link' *ngIf="user.role == 'Super Admin' || user.role == 'Group Admin'"><a routerLink='/createGroup'>New Group </a></h5>
    <div *ngFor='let group of groups'>
        <div class='row'>
            <div class='col-9' id='group_name'>
                <a routerLink='/group/{{group.id}}'>{{group.name}}</a>
            </div>
        </div>
        <div *ngIf='role == "Super Admin" || role == "Group Admin"; else elseBlock'>
            <div *ngFor='let channel of channels' class="channel_name">
                <div *ngIf='group.id == channel.group_id'>
                    <h6><a routerLink='/channel/{{channel.id}}'>{{channel.name}}</a></h6>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div *ngFor='let userChannel of userChannels' >
                <div *ngFor='let channel of channels' class="channel_name">
                    <div *ngIf='group.id == channel.group_id && channel.id == userChannel.channel_id'>
                        <h6><a routerLink='/channel/{{channel.id}}'>{{channel.name}}</a></h6>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    <img src="../assets/images/kook2.png" class='kook-img'>
</div>


<div class='col-9 float-right'>
    <div class='content'>
        <h2 id="test">Test</h2>
        <div class='row' id='profile-detail'>
            <div class='col-3 float-left'>
                <!-- <img src="../assets/images/dots2.png" class='profile-img'> -->
                <img src="images\{{imagepath}} " class='profile-img'/>
            </div>
            <div class='col-7' id='profile-desc'>
                <p class='name'><strong>Test</strong></p>
                <p>{{role}}</p>
                <div class='row'>
                    <form>
                        <div class="form-group">
                            <div class='col-10  float-left'>
                                <label class="image_input">
                                    Upload Profile Picture
                                    <div *ngIf="selectedFile != null; else displayBreak" style="color:rgb(167, 167, 167)">
                                        {{selectedFile.name}}
                                    </div>
                                    <ng-template #displayBreak>
                                        <br>
                                        <br>
                                    </ng-template>
                                    <input type='file' class='form-control' (change)="onFileSelected($event)" name='uploadFile' id='uploadFile'>
                                </label>
                            </div>
                            
                            <div class='col-2' style='display: inline-block'>
                                <button class='upload_btn' type='button' (click)='onUpload()'>
                                    <svg viewBox="0 0 16 16" class="bi bi-upload" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                        <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                      </svg>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
              
            </div>
            <div class='col-2 float right'>
                <button (click)='logout()' class='logout-button' routerLink='/'>
                    <svg viewBox="0 0 16 16" class="bi bi-box-arrow-in-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class='row' id='profile-ability'>
            <ul>
                <li *ngIf='role == "Super Admin" || role == "Group Admin"'><a routerLink='/allUser' class="manage_link">Manage Users</a></li>
                <br>
                <div class='row'>
                    <div class='col-lg-6'>
                        <li *ngIf='role == "Super Admin"'><a (click)="resetUserCollection()" class="manage_link" style="cursor: pointer;">Reset Users</a></li>
                        <li *ngIf='role == "Super Admin"'><a (click)="resetGroupCollection()" class="manage_link" style="cursor: pointer;">Reset Groups</a></li>
                        <li *ngIf='role == "Super Admin"'><a (click)="resetChannelCollection()" class="manage_link" style="cursor: pointer;">Reset Channels</a></li>
                    </div>
                    <div class='col-lg-6'>
                        <li *ngIf='role == "Super Admin"'><a (click)="resetUserChannelCollection()" class="manage_link" style="cursor: pointer;">Reset User Channels</a></li>
                        <li *ngIf='role == "Super Admin"'><a (click)="resetGroupAssistCollection()" class="manage_link" style="cursor: pointer;">Reset Group Assists</a></li>
                        <li *ngIf='role == "Super Admin"'><a (click)="resetDatabase()" class="manage_link" style="cursor: pointer;">Reset Database</a></li>
                    </div>
                </div>
                
            </ul>
        </div>
    </div>
</div>