/* You can add global styles to this file, and also import other style files */
html{
    background-color: rgb(27, 27, 27);
    color: white;
}
.appName{
    padding: 5px 10px 5px 5px;
    margin: 0;   
}
h3.appName{
    font-size: 6vh;
    font-family: 'Share Tech Mono', monospace;
    color: whitesmoke;
}

.content{
    padding: 10px;
    font-family: 'Inconsolata', monospace;
}

.navbar{
    background-color: rgb(37, 37, 37); 
    padding:5px; 
    margin: 0px;
    text-align: center;
    height: 10vh;
    box-shadow: 0px 5px 10px rgb(27, 27, 27);
    z-index: 1;
}
#nav a:active, #nav a:link, #nav a:hover, #nav a:visited{
    color: whitesmoke;
    text-decoration: none; 
}
#container-body{
    height: 100%;
    width: 100%;
    margin: 0;
}

#groupPanel{
    background-color: #202020;
    background: linear-gradient(rgb(37, 37, 37) 0%, rgb(32, 32, 32) 70%, rgb(27, 27, 27) 100%);
    padding: 10px 10px;
    height: 90vh;
    color: #c2c2c2;
}

#groupPanel h5{
    font-family: 'Inconsolata', monospace;
    padding-left: 5px;
}
#groupPanel h6{
    font-family: 'Arial', monospace;
    padding-left: 15px;
}

.kook-img{
    position: absolute;
    right: 0;
    bottom: 0;
    width:125px;
    height: 125px;
}
.dots-img{
    height:30px;
    width:30px;
    margin-left: 0;
    padding-left: 0;
    transform: rotate(270deg);
}
#contentPanel{
    color:whitesmoke;
}

.login-button{
    font-size: 3vh;
    background-color: rgb(50, 136, 216);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 3px 10px 5px 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}
.login-button:focus{
    outline: none;
    border: 2px solid rgba(164, 182, 216, 0.7);
    color: white;
    background-color: rgb(59, 156, 248);
}

.submit-button{
    font-size: 4vh;
    background-color: rgb(18, 63, 105);
    border: 2px solid rgba(164, 182, 216, 0);
    outline: none;
    border-radius: 5px;
    padding: 5px 10px 7px 10px;
    width: 100%;
    color:white;
}
.submit-button:focus{
    outline: none;
    border: 2px solid rgba(164, 182, 216, 0.7);
    color: white;
    background-color: rgb(33, 100, 163);
}

