/* You can add global styles to this file, and also import other style files */
html{
    background-color: rgb(27, 27, 27);
    color: white;
}
.appName{
    padding: 5px 10px 5px 5px;
    margin: 0;   
}
h3.appName{
    font-size: 6vh;
    font-family: 'Share Tech Mono', monospace;
    color: whitesmoke;
}
.title{
    color: whitesmoke;
    font-family: 'Share Tech Mono', monospace;
}
.form-group, .feedback{
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
}
.content{
    padding: 10px;
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
}

.navbar{
    background-color: rgb(37, 37, 37); 
    padding:5px; 
    margin: 0px;
    text-align: center;
    height: 10vh;
    box-shadow: 0px 5px 10px rgb(27, 27, 27);
    z-index: 1;
}
#nav a:active, #nav a:link, #nav a:hover, #nav a:visited{
    color: whitesmoke;
    text-decoration: none; 
}
#container-body{
    height: 100%;
    width: 100%;
    margin: 0;
}

#groupPanel{
    background-color: #202020;
    background: linear-gradient(rgb(37, 37, 37) 0%, rgb(32, 32, 32) 70%, rgb(27, 27, 27) 100%);
    padding: 10px 10px;
    height: 90vh;
    color: #c2c2c2;
}

#groupPanel h5{
    font-family: 'Inconsolata', monospace;
    padding-left: 5px;
}
#groupPanel h6{
    font-family: 'Arial', monospace;
    padding-left: 15px;
}

.kook-img{
    position: absolute;
    right: 0;
    bottom: 0;
    width:125px;
    height: 125px;
    z-index: 95;
}
.dots-img{
    height:30px;
    width:30px;
    margin-left: 0;
    padding-left: 0;
    transform: rotate(270deg);
}
#contentPanel{
    color:whitesmoke;
}

.logout-button{
    background-color: rgba(50, 136, 216, 0);
    border: none;
    outline: none;
    margin: 0;
    position: absolute;
    top: 0%;
    left: 90%;
    transform: translate(-50%, -50%);
    svg{
        width: 2em;
        height: 2em;
        color: rgb(179, 179, 179);
    }
}

.submit-button{
    font-size: 4vh;
    background-color: rgb(18, 63, 105);
    border: 2px solid rgba(164, 182, 216, 0);
    outline: none;
    border-radius: 5px;
    padding: 5px 10px 7px 10px;
    width: 100%;
    color:white;
}
.submit-button:focus{
    outline: none;
    border: 2px solid rgba(164, 182, 216, 0.7);
    color: white;
    background-color: rgb(33, 100, 163);
}

#role, #channel{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
}
.change_role{
    float: right;
    margin-right: 10px;
    outline: none;
    border: none;
    background-color: rgba(164, 182, 216, 0);
    color: whitesmoke;
    svg{
        margin: 0;
        padding: 0;
    }
}
#plus{
    font-size: 2em;
    background-color: rgba(164, 182, 216, 0);
    outline: none;
    border: none;
    color:rgb(70, 70, 70);
}
#plus:hover{
    color: rgb(52, 131, 235);
}

#delete{
    font-size: 2em;
    background-color: rgba(164, 182, 216, 0);
    outline: none;
    border: none;
    color:rgb(70, 70, 70);
}
#delete:hover{
    color: rgb(214, 3, 3);
}

#channel_mess{
    position:fixed;
    bottom: 0;
    width: 85%;
    #message{
        background-color: rgb(70, 70, 70);
        border: 1px solid rgb(46, 46, 46);
        border-radius: 0;
        color: whitesmoke;
        outline: none;
        display: inline-block;
        width: 75%;
        padding: 8px 10px;
    }
    #message:focus, #message:active{
        border: 1px solid rgb(102, 102, 102);
        background-color: rgb(90, 90, 90);
        outline: 0 !important;
    }
    .message_button{
        display: inline-block;
        width: 5%;
        max-height: 100%;
        margin: 0;
        border: none;
        background-color: rgba(70, 70, 70, 0);
        svg{
            color: rgb(45, 83, 209);
            font-size: 3em;
        }
        
    }
}

table{
    width: 100%;
}
ul{
    list-style-type: none;
    width: 100%;
}
li{
    padding: 5px 0px;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}
h3 {
    padding-top: 10px;
    padding-left: 5px;
    font-family: 'Share Tech Mono', monospace;
}

.list-title{
    border-bottom: none;
    font-size: 1.1em;
    font-family: 'Inconsolata', monospace;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0;
}
#group_btn{
    padding-right: 10px;
    button{
        background-color: rgba(164, 182, 216, 0);
        outline: none;
        border:none;
        color: rgb(70, 70, 70);
        padding-top: 10px;
        position:relative;
        z-index: 100;
        svg{
            width: 2em;
            height: 2em;
        }  
    }
    button:hover{
        color: rgb(43, 104, 184);
    }
        
}
#group_name{
    padding-left: 20px;
    padding-top: 10px;
    a{
        color: rgb(57, 143, 255);
        font-size: 1.2em;
        font-family: 'Share Tech Mono', monospace;
    }
    a{
        text-decoration: none;
    }
    
}
#group_name a:hover{
    color: rgb(43, 104, 184);
}
.channel_name{
    a{
        color: rgb(105, 104, 104);
        font-family: 'Inconsolata', monospace;
    }
    a:hover{
        color: rgb(43, 104, 184);
        text-decoration: none;
    }
}

#profile_link, #new_group_link{
    a{
        color: rgb(57, 143, 255);
        font-family: 'Share Tech Mono', monospace;
    }
    a:hover{
        text-decoration: none;
    }
    padding: 5px;
}
#profile_link a:hover, #new_group_link a:hover{
    color: rgb(43, 104, 184);
}
.manage_link{
    color: rgb(57, 143, 255);
    font-family: 'Inconsolata', monospace;
    font-size: 1.1em;
}
.manage_link:hover{
    text-decoration: none;
    color: rgb(43, 104, 184);
}
#title_trash{
    svg{
        width: 1.5em;
        height: 1.5em;
    }
    background-color: rgba(164, 182, 216, 0);
    outline: none;
    border:none;
    color: rgb(70, 70, 70);
}
#title_trash:hover{
    color: rgb(214, 3, 3);
}
#channel_head{
    color:whitesmoke;
    padding-top: 10px;
    font-size: 1.1em;
    button{
        padding-top: 10px;
    }
    button:hover{
        color: rgb(214, 3, 3);
    }
}
table{
    width: 100%;
    td{
        width: 100%;
        border-bottom: 1px solid rgb(180, 180, 180);
    }
}
.remove_user{
    color: red;
}
.role_banner{
    background-color: rgb(19, 52, 95);
    width: 100%;
    p{
        font-family: 'Share Tech Mono', monospace;
        text-align: center;
        padding: 2px;
        margin: 0;
    }

}